:root {
  --light-grey: rgb(200, 200, 200);
  --light-black: rgb(97, 97, 97);
  --wayfair-primary: #772b7e;
  --wayfair-yellow: #f7cf1c;
  --menu-icon-container-height: 3.5rem;
  --box-shadow-color: rgb(174 174 174);
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

#root .main {
  flex-grow: 1;
}

*, *::after, *::before {
  box-sizing: border-box;
}
