.user-menu {
    margin-right: 1.25rem;
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
}

.user-menu .user-info {
    margin-right: 2.5rem;
    position: relative;
}

.user-menu .user-nav {
    position: relative;
}

.user-menu .user-info::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 9 12 15 18 9"></polyline></svg>');
    position: absolute;
    right: -1.5rem;
    top: 0.1rem;
}

.user-nav-popup {
    position: absolute;
    right: 0;
    width: 200px;
    border: 1px solid var(--light-grey);
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 5px var(--box-shadow-color);
}

.user-nav-popup-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin: 0;
}

.user-nav-popup-link-item {
    height: 3rem;
    display: flex;
    align-items: center;
    cursor: initial;
}

.user-nav-popup-link {
    text-decoration: none;
    color: black;
}